{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-2">
        <div class="col-md-7 text-center">

                 <h1>Заметки ваших дел. Woo!</h1>
            <p>Жизнь весела, но в то же время очень непроста. Существует миллион разных дел, которыми мы можем заниматься. Очень важно  <u>то, чем мы заняты сейчас</u>. Мы создали <b><i>Todo Woo</i></b> чтобы помочь понять все наши возможности и жить той жизнью, которой бы мы хотели. Ваша новая огранизованная жизнь ждет вас!</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Старт!</a>
        </div>
    </div>

{% endblock %}